@charset "utf-8"

@font-face {
    font-family: Montserrat, sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

/* Structural Styles */
html {
    background-color: #AB0505;
}

body {
    background-color: #EDEDED;
    margin: 0px 100px 0px 100px;
    padding: 0px 0px 5px 0px;
    font-family: Montserrat, sans-serif;
}

body {
    padding: 0px 20px 5px 20px;
    text-decoration-color: #4A4E4F;
}

header img {
    padding-bottom: 0%;
    width: 100%
}

/* Navigation Styles */
 nav {
    display: table;
    width: 100%;
    background-color: #303030;
    overflow: hidden;
}

nav ul {
    display: table-row;
    list-style-type: none;
    text-align: center;

}

nav ul li {
    display: table-cell;
    text-align: center;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    margin-left: 25% ;
}

nav a:link, nav a:visited {
    color: #D90404;
}

nav a:hover, nav a:active {
    color:#4A4E4F;
}

/* Text Level Styles */
p {
    color: #4A4E4F;
    padding: 10px 40px 0px 40px;
}

ul {
    list-style: none;
    color: #4A4E4F;
}

