@charset "utf-8";

@font-face {
    font-family: Montserrat, sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

/* Structural Styles */
html {
    background-color: #AB0505;
    margin: 1%;
}

body {
    background-color: #EDEDED;
    margin: auto 12% auto 12%;
    font-family: Montserrat, sans-serif;
    width: auto;
    text-decoration-color: #4A4E4F;
}

header img {
    padding-bottom: 0%;
    width: 100%
}

/* This is to set the main colors and how the page will look. Its set have a border that will outline the body and sets the logo img all the way across the top of the body. */

/* Navigation Styles */
nav {
    display: table;
    width: 100%;
    background-color: #303030;
}

nav ul {
    display: table-row;
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    margin-left: 25%;
}

nav li a:link,
nav li a:visited {
    color: #D90404;

}

nav li:hover,
nav li a:active {
    color: #4A4E4F;
}

/* This is set to have a nav under the logo and that has colors for the text, background and when clicked to hovered on. */

/* Text Level Styles */
p {
    color: #4A4E4F;
    padding: 10px 40px 0px 40px;
}

ul {
    list-style: none;
    color: #4A4E4F;
}

footer {
    width: auto;
    margin: 0% 0% 0% 0%;
    padding: .3% 5% .3% 5%;
    background: #303030;
    color: #D90404;
}

/* This sets the text colors and creates a small section at the bottom of the page that has a title of this essay. */