@charset "utf-8";

@font-face {
    font-family: Montserrat, sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

/* Structural Styles */
html {
    background-color: #D90404;
    padding-top: 1%;
}

body {
    border: 3px solid #303030;
    background-color: #EDEDED;
    margin: auto 12% auto 12%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Montserrat, sans-serif;
    width: auto;
    text-decoration-color: #4A4E4F;
}

header img {
    padding-bottom: 0%;
    width: 100%
}

/* This is to set the main colors and how the page will look. Its set have a border that will outline the body and sets the logo img all the way across the top of the body. */

/* Navigation Styles */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #303030;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

nav a:link,
nav a:visited {
    color: #EDEDED;

}

nav a:hover {
    color: #AB0505;
}

nav a:active {
    color: #4A4E4F;
}

/* This is set to have a nav under the logo and that has colors for the text, background and when clicked to hovered on. */

/* Text Level Styles */
h1, h2 {
    text-align: center;
    color: #4A4E4F;
    font-size: 1.5em;
}

p {
    color: #4A4E4F;
    padding: 10px 40px 0px 40px;
}

ul {
    list-style: none;
    color: #4A4E4F;
}

footer {
    width: 100%;
    margin: 0% 0% 0% 0%;
    background: #303030;
    color: #EDEDED;
    text-align: center;
}
/* This sets the text colors and creates a small section at the bottom of the page that has a title of this essay. */

body>a {
    display:grid;
    grid-template-columns:1fr 0fr;
    margin: 2% 5% 2% 5%;
    color: #4A4E4F;
}

body>a:link, body>a:visited {
    text-decoration: none;
}

body>a:hover, body>a:active {
    color: #AB0505;  
}